/* You can add global styles to this file, and also import other style files */
body{
    background-color: #f2f1f7;
}
.mat-drawer-container {
    background-color: #eee !important;
    color: #fff !important;
}

.mat-drawer {
    background-color: #89b9d1 !important;
    color: #fff !important;
}